<div class="min-h-screen bg-white text-slate-900">
  <%= render "navbar" %>
  <%= render "hero" %>
  <%= render "about" %>
  <%= render "skills" %>
  <%= render "tools" %>
  <div class="h-10 bg-white"></div>
  <%= render "projects" %>
  <%= render "experiences" %>
  <%= render "contact" %>
  <%= render "footer" %>
</div>
